#popcornBtn{
   
    background: #9e2a2b;
    border-width: 0px;
    background-image: url("https://i.ibb.co/nwJYnK2/bestofficialicon.png");
    background-size: cover;
    width: 4vw;
    height: 12vh;
    float:left;
    
}

.Title{
    position:relative;
    margin-left: 41%;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 4vw;
    color: #fff3b0;
}

h2 {
    color: #fff3b0;
    margin-left: 3%;
    padding: 20px;
}
.movie-search-form{
    margin-left: 9%;    
}

#search-input{
    
    width: 25%;
    text-align: center;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid #540b0e;
    border-radius: 4px;
    
    }


#now-playing{
    margin-top: 50px;
}



body {
    text-align: center;
    width: 98%;
    height:100%;
    background-color: #9e2a2b;
    

   
}

html,img,form {
    align-items: center;
    width: 98%;
    height: 100%;
    border-radius: 10%;
}

#movie-area{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    row-gap: 10px;
    margin-left: 2%;
    
}
.movieInfo{
    margin-left: 18%;
    color: #fff3b0;
}



.hidden{
    display: none;
}

.hiddenBtn{
    display: none;
}




